<!doctype html>
<html lang="en">

<head>
    <title>My Design Clothes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/admin.css">
</head>

<body>
    <div class="nav">
        <p>Quản lý áo thun</p>
    </div>

    <div class="root">
        <div class="left-control">
            <a href="index.html">Trang Chủ</a>
            <a href="order.html">Quản lý đơn hàng</a>
            <a href="tshirt.html" class="active">Quản lý áo thun</a>
        </div>
        <div class="container edit-t">
            <form action="tshirt.html">
                <div class="form-group form-inline">
                    <label for="name">Tên áo</label>
                    <input type="text" id="name" class="form-control mx-sm-3" value="Example">
                </div>
                <div class="form-group form-inline">
                    <label for="price">Giá tiền</label>
                    <input type="text" id="price" class="form-control mx-sm-3" value="120.000đ">
                </div>
                <div class="form-group form-inline">
                    <label for="size">Kích cỡ</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="size" value="option1">
                        <label class="form-check-label" for="size">S</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="size" value="option2">
                        <label class="form-check-label" for="size">M</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="size" value="option3">
                        <label class="form-check-label" for="size">L</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="size" value="option3">
                        <label class="form-check-label" for="size">XL</label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label for="shirt">Mẫu áo</label>
                    <input type="file" id="shirt" class="form-control mx-sm-3" name="img" multiple>
                </div>
                <div class="form-group form-inline">
                    <label for="label">Mẫu hình</label>
                    <input type="file" id="label" class="form-control mx-sm-3" name="img" multiple>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    <button type="reset" class="btn btn-danger" value="Reset">Mặc định</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../../public/js/admin.js"></script>
</body>

</html>