<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.0.0
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">



  <title>Trang chủ</title>
  <!-- Icons-->
  <link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="/css/coreui.min.css" rel="stylesheet">
  <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">


      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img class="img-avatar" src="/img/avatar1.jpg" alt="admin@bootstrapmaster.com">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="profile.html">
            <i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item" href="/logout">
            <i class="fa fa-lock"></i> Logout</a>
        </div>
      </li>
    </ul>
  </header>
  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="nav-icon icon-speedometer"></i> Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/order">
              <i class="nav-icon icon-speedometer"></i> Quản lý đơn hàng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/tshirt">
              <i class="nav-icon icon-speedometer"></i> Quản lý áo thun
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/history">
              <i class="nav-icon icon-speedometer"></i> Lịch sử giao dịch
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon">
              <i class="nav-icon icon-speedometer"></i> Coupon
            </a>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
      <!-- Breadcrumb-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Admin</a>
        </li>
        <li class="breadcrumb-item active">Trang chủ</li>

      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn">

          <div class="card main-statistical">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Thống kê chung</h4>
                  <div class="small text-muted">Apr 2018</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                  <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="options" id="option1" autocomplete="off"> Day
                    </label>
                    <label class="btn btn-outline-secondary active">
                      <input type="radio" name="options" id="option2" autocomplete="off" checked> Month
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Year
                    </label>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
              <div class="chart-wrapper" style="margin-top:40px;">
                <canvas id="main-chart" class="chart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <br>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">
                        <i class="icon-people"></i>
                      </th>
                      <th>Khách hàng</th>
                      <th>Sản phẩm</th>
                      <th class="text-center">Thanh toán</th>
                      <th>Thời gian</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="/img/avatar1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </td>
                      <td>
                        <div>Yiorgos Avraamu</div>
                      </td>
                      <td>
                        <div>Skull Helmet Glass</div>
                      </td>
                      <td class="text-center">
                        <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                      </td>
                      <td>
                        <strong>12:36 PM, 27/5/2018</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="/img/avatar2.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-danger"></span>
                        </div>
                      </td>
                      <td>
                        <div>Avram Tarasios</div>
                      </td>
                      <td>
                        <div>Áo tùy chỉnh SA852</div>
                      </td>
                      <td class="text-center">
                        <i class="fa fa-cc-visa" style="font-size:24px"></i>
                      </td>
                      <td>
                        <strong>12:10 PM, 27/5/2018</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="/img/avatar1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-warning"></span>
                        </div>
                      </td>
                      <td>
                        <div>Quintin Ed</div>
                      </td>
                      <td>
                        <div>Skull Helmet Glass</div>
                      </td>
                      <td class="text-center">
                        <i class="fa fa-cc-stripe" style="font-size:24px"></i>
                      </td>
                      <td>
                        <strong>7:36 AM, 27/5/2018</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="/img/avatar3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-secondary"></span>
                        </div>
                      </td>
                      <td>
                        <div>Enéas Kwadwo</div>
                      </td>
                      <td>
                        <div>Skull Helmet Glass</div>
                      </td>
                      <td class="text-center">
                        <i class="fa fa-paypal" style="font-size:24px"></i>
                      </td>
                      <td>
                        <strong>6:42 AM, 26/5/2018</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="/img/avatar2.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </td>
                      <td>
                        <div>Agapetus Tadeáš</div>
                      </td>
                      <td>
                        <div>Skull Helmet Glass</div>
                      </td>
                      <td class="text-center">
                        <i class="fa fa-google-wallet" style="font-size:24px"></i>
                      </td>
                      <td>
                        <strong>1:24 AM, 26/5/2018</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="/img/avatar1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-danger"></span>
                        </div>
                      </td>
                      <td>
                        <div>Friderik Dávid</div>
                      </td>
                      <td>
                        <div>Skull Helmet Glass</div>
                      </td>
                      <td class="text-center">
                        <i class="fa fa-cc-amex" style="font-size:24px"></i>
                      </td>
                      <td>
                        <strong>11:52 PM, 25/5/2018</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Bootstrap and necessary plugins-->
  <script src="/vendors/jquery/js/jquery.min.js"></script>
  <script src="/vendors/popper.js/js/popper.min.js"></script>
  <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendors/pace-progress/js/pace.min.js"></script>
  <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
  <script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>
  <!-- Plugins and scripts required by this view-->
  <script src="/vendors/chart.js/js/Chart.min.js"></script>
  <script src="/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>
  <script src="/js/admin.js"></script>
</body>

</html>