<!doctype html>
<html lang="en">

<head>
    <title>My Design Clothes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/admin.css">
</head>

<body>
    <div class="nav">
        <p>Quản lý đơn hàng</p>
    </div>

    <div class="root">
        <div class="left-control">
            <a href="index.html">Trang Chủ</a>
            <a href="order.html" class="active">Quản lý đơn hàng</a>
            <a href="tshirt.html">Quản lý áo thun</a>
        </div>
        <div class="container">

            <div class="list-order">
                <h4></h4>
                <div class="order-item">
                    <div class="left-img">
                        <img src="../../public/img/ao1.jpg">
                    </div>
                    <div class="detail-info">
                        <p>Giá tiền:
                            <span>100.000đ</span>
                        </p>
                        <p>Kích cỡ:
                            <span>M</span>
                        </p>
                        <p>Số lượng:
                            <span>2</span>
                        </p>
                        <p>Trạng thái:
                            <span>Đã tiếp nhận</span>
                        </p>
                        <div class="button-container">
                            <button class="btn btn-primary">Hoàn thành</button>
                            <button class="btn btn-danger">Hủy đơn hàng</button>
                        </div>
                    </div>
                </div>
                <h4>Đơn hàng A482215XXA</h4>
                <div class="order-item">
                    <div class="left-img">
                        <img src="../../public/img/ao1.jpg">
                    </div>
                    <div class="detail-info">
                        <p>Giá tiền:
                            <span>120.000đ</span>
                        </p>
                        <p>Kích cỡ:
                            <span>XL</span>
                        </p>
                        <p>Số lượng:
                            <span>2</span>
                        </p>
                        <p>Trạng thái:
                            <span>Chưa tiếp nhận</span>
                        </p>
                        <div class="button-container">
                            <button class="btn btn-primary">Nhận đơn hàng</button>
                            <button class="btn btn-danger">Hủy đơn hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../../public/js/admin.js"></script>
</body>

</html>