<!doctype html>
<html lang="en">

<head>
    <title>My Design Clothes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/style_template.css">
    <link rel="stylesheet" href="../../public/css/style_lamAo.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-master">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="index.html">My Design Clothes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="searching.html" class="form-inline my-2 my-lg-0" style="height: 100%;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-info my-2 my-sm-0" type="submit">
                                <i class="fas fa-search fa-lg"></i>
                            </button>
                        </form>
                    </li>
                    <li class="nav-item active icon-items">
                        <a href="cart.html">
                            <img id="gioHang" src="../../public/img/shopping_cart.png" alt=""> Giỏ hàng
                        </a>
                    </li>
                    <li class="nav-item icon-items">
                        <a href="signIn_Up.html">
                            <img id="DangNhap" src="../../public/img/icon-login.png" alt=""> Đăng nhập
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <p class="line"></p>
        <div class="container">

            <div class="nav_bottom">
                <ul>
                    <li id="li_tc">
                        <a href="index.html">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="lamAo.html">Làm Áo</a>
                    </li>
                    <li>
                        <a href="khuyenMai.html">Khuyến Mãi</a>
                    </li>
                    <li>
                        <a href="aoHot.html">Áo Hot</a>
                    </li>
                    <li id="li_au">
                        <div>
                            <a href="#" id="none-hover">Danh mục</a>
                            <div class="list-shirt">
                                <a href="danhMuc.html">Áo thun</a>
                                <a href="danhMuc.html">Áo khoác</a>
                                <a href="danhMuc.html">Áo choàng</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="lamAo" onload="LamAoSelected_display()">
            <h2>Làm áo</h2>
            <div class="container_lamAo">
                <div class="row">
                    <div class="col-sm-8">
                        <img id="display" src="../../public/img/ao1.jpg" alt="">
                    </div>
                    <div class="col-sm-4">
                        <div class="choice">
                            <h5>Giá: 100000đ</h5>
                            <hr>
                            <p>Mẫu áo:</p>
                            <div class="mauAo">
                                <img name="mauAo01" class="mauAo_active" src="../../public/img/mauAo01.jpg" onclick="LamAoSelected_mauAo(this);" alt="">
                                <img name="mauAo01" src="../../public/img/mauAo01.jpg" onclick="LamAoSelected_mauAo(this);" alt="">
                                <br>
                                <br>
                            </div>
                            <p>Màu sắc:</p>
                            <div class="mauSac">
                                <div name="orange" class="orange mauSac_active" onclick="LamAoSelected_mauSac(this);"></div>
                                <div name="blue" class="blue" onclick="LamAoSelected_mauSac(this);"></div>
                                <div name="black" class="black" onclick="LamAoSelected_mauSac(this);"></div>
                                <br>
                                <br>
                            </div>
                            <p>Mẫu hình:</p>
                            <div class="mauHinh">
                                <img name="mauHinh01" class="mauHinh_active" src="../../public/img/mauHinh01.jpg" onclick="LamAoSelected_mauHinh(this);"
                                    alt="">
                                <img name="mauHinh02" src="../../public/img/mauHinh02.jpg" onclick="LamAoSelected_mauHinh(this);" alt="">
                                <br>
                                <br>
                            </div>
                            <p>Kích cỡ:</p>
                            <select class="form-control" id="sel1">
                                <option>XS</option>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                            </select>
                            <hr>
                            <button class="btn btn-success">Cho vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        Web bán hàng
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../../public/js/script.js"></script>
</body>

</html>