<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">My Design Clothes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="/searching" class="form-inline my-2 my-lg-0" style="height: 100%;" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchKey">
                    <button class="btn btn-info my-2 my-sm-0" type="submit">
                        <i class="fas fa-search fa-lg"></i>
                    </button>
                </form>
            </li>
            <li class="nav-item active icon-items">
                <div style="position: relative;">
                    <p id="number-item-in-cart" style="position: absolute; bottom: 0; right: 0; font-size:25px; color:black; font-weight: bold; margin: 0; z-index:101;">0</p>
                    <a href="/cart">
                        <img id="gioHang" src="/img/shopping_cart.png" alt=""> Giỏ hàng
                    </a>
                </div>
            </li>
            <li class="nav-item icon-items">
                <div class="memberNav">
                    <a href="#">
                        <img src="/img/avatar2.png" alt=""> Nguyễn Văn A
                    </a>
                    <div class="popup-information-hide">
                        <a href="/info">Thông tin cá nhân</a>
                        <a href="/lichsu">Lịch sử mua hàng</a>
                        <a href="/logout">Đăng Xuất</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>