body {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

body.signup-login {
  padding: 0;
  margin: 0;
  display: block;
  background-color: #2f353a;
  width: 100%;
  height: 100vh;
}

.main-statistical {
  padding: 40px;
}

.order-item {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.left-img {
  width: 200px;
  height: auto;
}

.left-img img {
  width: 200px;
  height: auto;
}

.detail-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.detail-info p {
  font-size: 18px;
  font-weight: 500;
}

.detail-info p span {
  color: orangered;
}

.button-container .btn:nth-child(1) {
  margin-right: 10px;
}

.button-container {
  margin-bottom: 10px;
}

.list-order h4 {
  margin-top: 20px;
}

.container {
  padding: 0;
  margin: 0;
  width: 80%;
  max-width: 100%;
  padding: 30px 5%;
}

.edit-t label {
  display: block;
  width: 80px;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

.edit-t {
  margin-top: 20px;
  margin-left: 25px;
  background-color: white;
}

.edit-t > form > div {
  margin-bottom: 30px;
}

div.input-group {
  margin: 5px;
}

.container-personal-information {
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.avatar-edit {
  width: 300px;
  height: auto;
}

.avatar-edit button {
  margin-top: 25px;
}

.edit-information {
  width: 100%;
  text-align: left;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.edit-information p {
  font-weight: bold;
  margin-top: 15px;
}

.avatar-large {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

form select {
  text-align: right;
}

@media only screen and (min-width: 1140px) {
  .container-personal-information {
    max-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .avatar-edit {
    width: 150px;
    height: auto;
  }

  .avatar-large {
    width: 100px;
    height: 100px;
  }
}

.not-margin-left {
  margin-left: 0px !important;
}

.homepage {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.homepage:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer {
  background-color: rgba(44, 62, 80, 1);
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 200px;
  bottom: 0;
  font-weight: lighter;
  color: white;
  font-size: 1.75em !important;
}

footer .row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footerHeader {
  width: 100%;
  padding: 1em;
  background-color: rgba(52, 73, 94, 1);
  text-align: center;
  color: white;
}

footer h3 {
  font-weight: lighter;
}

footer ul {
  padding-left: 5px;
  list-style: none;
}

footer p {
  text-align: justify;
  font-size: 14px;
}

footer iframe {
  width: 100%;
  position: relative;
  height: 170px;
}

footer .sm {
  list-style: none;
  overflow: auto;
}

footer .sm li {
  display: inline;
  padding: 5px;
  float: left;
}

footer .sm li a img {
  width: 32px;
}

body {
  overflow: auto;
}


.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination {
  margin-top: 20px;
  font-size: 16px;
}

.pagination a {
  color: black;
  float: left;
  padding: 0px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-left: rgb(63, 144, 219) 1px solid;
  border-top: rgb(63, 144, 219) 1px solid;
  border-bottom: rgb(63, 144, 219) 1px solid;
}