body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 22px;
  color: #666;
  line-height: 1.6em;
  background: rgba(238, 232, 232, 0.651);
}

.line {
  border: #fff solid 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 20px;
}

.navbar-master {
  background: #f05f40;
  min-height: 55px;
  color: #fff;
}

.navbar {
  padding: 0.5rem 2.5rem;
}

.header_top {
  margin-top: 15px;
}

.logo {
  width: 25%;
  margin-bottom: 0px;
  color: #fff;
  font-weight: bold;
}

input[type="search"] {
  border-radius: 20px;
  width: 32%;
  /* -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; */
  padding-left: 12px;
  margin-right: 5px;
}

/* When the input field gets focus, change its width to 100% */

.nav_bottom {
  display: flex;
  width: 100%;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.nav_bottom ul {
  margin-bottom: 0px;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.nav_bottom li {
  list-style: none;
  height: 65px;
  width: 20%;
  text-align: center;
  /* border-right: #fff solid 1px;
  border-left: #fff solid 1px; */
}

.nav_bottom li a:hover {
  background: rgb(214, 87, 58);
}

.nav_bottom li a {
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav a,
.nav_bottom a {
  color: #fff;
  padding-bottom: 5px;
}

nav a:hover,
.nav_bottom a:hover {
  color: #fff;
  text-decoration: none;
}

.nav_top li:hover {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  -webkit-filter: drop-shadow(4px 4px 5px white);
  filter: drop-shadow(4px 4px 5px white);
}

/* 
.nav_top li:active {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  -webkit-filter: drop-shadow(4px 4px 5px white);
  filter: drop-shadow(4px 4px 5px white);
} */

/* .icon-items:hover {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  -webkit-filter: drop-shadow(4px 4px 5px white);
  filter: drop-shadow(4px 4px 5px white);
} */

.icon-items>div>a:hover {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  -webkit-filter: drop-shadow(4px 4px 5px white);
  filter: drop-shadow(4px 4px 5px white);
}

/* .icon-items:active {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  -webkit-filter: drop-shadow(4px 4px 5px white);
  filter: drop-shadow(4px 4px 5px white);
} */

.navbar-master {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
}

.navbar-master nav li a img {
  width: 64px;
  height: 64px;
}

#space_header {
  margin-top: 200px;
}

.nav-item {
  margin-right: 20px;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-brand {
  font-size: 30px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: bold;
}

.nav_bottom #li_au .list-shirt {
  display: none;
  background: #f05f40;
  z-index: 100;
}

.nav_bottom #li_au div:hover .list-shirt {
  display: block;
}

.nav_bottom #li_au div .list-shirt {
  position: relative;
}

.nav_bottom li div a {
  height: 65px;
}

@media only screen and (max-width: 768px) {
  .nav_bottom li {
    list-style: none;
    height: 65px;
    width: 100%;
    text-align: center;
    /* border-right: #fff solid 1px;
        border-left: #fff solid 1px; */
  }
  .nav_bottom ul {
    margin-bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

#none-hover:hover {
  background: none;
}

.memberNav img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.memberNav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup-information-hide {
  display: none;
  position: absolute;
  top: 64px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  background: #f05f40;
  z-index: 100;
  left: 0;
  font-size: 18px;
  width: 100%;
}

.memberNav:hover .popup-information-hide {
  display: flex;
  flex-direction: column;
}

.popup-information-hide a {
  display: block;
  height: 64px;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.popup-information-hide a:hover {
  background-color: rgb(214, 87, 58);
}

footer {
  background-color: rgba(44, 62, 80, 1.0);
  padding-top: 10px;
  margin-top: 40px;
  width: 100%;
  bottom: 0;
  font-weight: lighter;
  color: white;
}

footer .row{
  width: 90%;
  margin-left: auto;
  margin-right: auto;  
}

.footerHeader {
  width: 100%;
  padding: 1em;
  background-color: rgba(52, 73, 94, 1.0);
  text-align: center;
  color: white;
}

footer h3 {
  font-weight: lighter;
}

footer ul {
  padding-left: 5px;
  list-style: none;
}

footer p {
  text-align: justify;
  font-size: 12px;
}

footer iframe {
  width: 100%;
  position: relative;
  height: 170px;
}

footer .sm {
  list-style: none;
  overflow: auto;
}

footer .sm li {
  display: inline;
  padding: 5px;
  float: left;
}

footer .sm li a img {
  width: 32px;
}