<link rel="stylesheet" href="/css/style_lamAo.css">
<script src="/js/fabric.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-master">
        {{#if payload.authenticated}} {{>loggedInNavBarInformation}} {{else}} {{>notLoggedInNavBarInformation}} {{/if}}
        <p class="line"></p>
        <div class="container">

            <div class="nav_bottom">
                <ul>
                    <li id="li_tc">
                        <a href="/">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="/lamAo">Làm Áo</a>
                    </li>
                    <li>
                        <a href="/khuyenMai">Khuyến Mãi</a>
                    </li>
                    <li>
                        <a href="/aoHot">Áo Hot</a>
                    </li>
                    <li id="li_au">
                        <div>
                            <a href="/danhMuc" id="none-hover">Danh mục</a>
                            <div class="list-shirt">
                                <a href="/danhMuc/aothun">Áo thun</a>
                                <a href="/danhMuc/aocotim">Áo cổ tim</a>
                                <a href="/danhMuc/aohoddie">Áo hoddie</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="lamAo">
            <h2>Làm áo</h2>
            <div class="container_lamAo">
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="display" width="760" height="560"></canvas>
                    </div>
                    <div class="col-sm-4">
                        <div class="choice">
                            <h5>Giá: 100000đ</h5>
                            <hr>
                            <p>Mẫu hình:</p>
                            <div class="mauHinh">
                                <form action="/lamAo/upload" method="POST" enctype="multipart/form-data">
                                    <div class="file-field input-field">
                                        <div class="btn grey">
                                            <span>File</span>
                                            <input name="myImage" type="file">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Upload !</button>
                                </form>
                            </div>
                            <p>Mẫu áo:</p>
                            <div class="mauAo">
                                {{#each payload.mauAos}}
                                <img name="{{name}}" src="{{imgPath}}" onclick="LamAoSelected_mauAo(this);" alt=""> {{/each}}
                                <br>
                                <br>
                            </div>
                            <p>Màu sắc:</p>
                            <div class="mauSac">
                                <div name="orange" class="orange mauSac_active" onclick="LamAoSelected_mauSac(this);"></div>
                                <div name="blue" class="blue" onclick="LamAoSelected_mauSac(this);"></div>
                                <div name="black" class="black" onclick="LamAoSelected_mauSac(this);"></div>
                                <br>
                                <br>
                            </div>
                            <p>Kích cỡ:</p>
                            <select class="form-control" id="sel1">
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                            </select>
                            <hr>
                            <form id="submitshirtForm" action="/lamAo/submitshirt" method="post">
                                <input type="hidden" value="" name="dataCanvas" id="dataCanvas" />
                                <input class="btn btn-success" type="submit" value="Cho vào giỏ hàng">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var canvas = new fabric.Canvas("display");
        fabric.Image.fromURL('{{file}}', function (img) {
            img.scaleToHeight(300);
            img.set({
                left: 0,
                top: 0
            });
            canvas.add(img);
            canvas.renderAll();
        });
        $("#submitshirtForm").submit(function () {
            var json = JSON.stringify(canvas, function () {
                alert(json);
                document.getElementById("dataCanvas").value = json;
                return true;
            });
        });
    </script>