<!doctype html>
<html lang="en">

<head>
    <title>My Design Clothes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style_template.css">
    <link rel="stylesheet" href="/css/style_lichsu.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-master">
        {{#if payload.authenticated}} {{>loggedInNavBarInformation}} {{else}} {{>notLoggedInNavBarInformation}} {{/if}}
        <p class="line"></p>
        <div class="container">

            <div class="nav_bottom">
                <ul>
                    <li id="li_tc">
                        <a href="/">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="/lamAo">Làm Áo</a>
                    </li>
                    <li>
                        <a href="/khuyenMai">Khuyến Mãi</a>
                    </li>
                    <li>
                        <a href="/aoHot">Áo Hot</a>
                    </li>
                    <li id="li_au">
                        <div>
                           <a href="/danhMuc" id="none-hover">Danh mục</a>
                            <div class="list-shirt">
                                <a href="/danhMuc/aothun">Áo thun</a>
                                <a href="/danhMuc/aocotim">Áo cổ tim</a>
                                <a href="/danhMuc/aohoddie">Áo hoddie</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="lichsu">
            <div class="navsearch">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Lịch sử mua hàng</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm trong lich sử...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listHistory">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Skull Helmet Glass
                            </div>
                            <div class="card-body">
                                <img src="/img/ao1.jpg" class="my-auto">
                                <div class="second bg-light p-3">
                                    <h5>Tên sản phẩm:</h5>
                                    <p>Skull Helmet Glass</p>
                                    <br>
                                    <h5>Đơn giá:</h5>
                                    <p>100000đ</p>
                                    <br>
                                    <h5>Số lượng:</h5>
                                    <p>2</p>
                                    <br>
                                    <h5>Tổng tiền:</h5>
                                    <p>200000đ</p>
                                    <br>
                                    <h5>Ngày mua:</h5>
                                    <p>27/05/2018</p>
                                </div>
                                <div class="action_hist">
                                    <a href="/lamAo" class="btn btn-outline-primary">Thiết kế lại</a>
                                    <a href="#" class="btn btn-outline-success">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Skull Helmet Glass
                            </div>
                            <div class="card-body">
                                <img src="/img/ao1.jpg" class="my-auto">
                                <div class="second bg-light p-3">
                                    <h5>Tên sản phẩm:</h5>
                                    <p>Skull Helmet Glass</p>
                                    <br>
                                    <h5>Đơn giá:</h5>
                                    <p>100000đ</p>
                                    <br>
                                    <h5>Số lượng:</h5>
                                    <p>2</p>
                                    <br>
                                    <h5>Tổng tiền:</h5>
                                    <p>200000đ</p>
                                    <br>
                                    <h5>Ngày mua:</h5>
                                    <p>27/05/2018</p>
                                </div>
                                <div class="action_hist">
                                    <a href="/lamAo" class="btn btn-outline-primary">Thiết kế lại</a>
                                    <a href="#" class="btn btn-outline-success">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Skull Helmet Glass
                            </div>
                            <div class="card-body">
                                <img src="/img/ao1.jpg" class="my-auto">
                                <div class="second bg-light p-3">
                                    <h5>Tên sản phẩm:</h5>
                                    <p>Skull Helmet Glass</p>
                                    <br>
                                    <h5>Đơn giá:</h5>
                                    <p>100000đ</p>
                                    <br>
                                    <h5>Số lượng:</h5>
                                    <p>2</p>
                                    <br>
                                    <h5>Tổng tiền:</h5>
                                    <p>200000đ</p>
                                    <br>
                                    <h5>Ngày mua:</h5>
                                    <p>27/05/2018</p>
                                </div>
                                <div class="action_hist">
                                    <a href="/lamAo" class="btn btn-outline-primary">Thiết kế lại</a>
                                    <a href="#" class="btn btn-outline-success">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Skull Helmet Glass
                            </div>
                            <div class="card-body">
                                <img src="/img/ao1.jpg" class="my-auto">
                                <div class="second bg-light p-3">
                                    <h5>Tên sản phẩm:</h5>
                                    <p>Skull Helmet Glass</p>
                                    <br>
                                    <h5>Đơn giá:</h5>
                                    <p>100000đ</p>
                                    <br>
                                    <h5>Số lượng:</h5>
                                    <p>2</p>
                                    <br>
                                    <h5>Tổng tiền:</h5>
                                    <p>200000đ</p>
                                    <br>
                                    <h5>Ngày mua:</h5>
                                    <p>27/05/2018</p>
                                </div>
                                <div class="action_hist">
                                    <a href="/lamAo" class="btn btn-outline-primary">Thiết kế lại</a>
                                    <a href="#" class="btn btn-outline-success">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a href="/lichsu">2</a>
                <a href="/lichsu">3</a>
                <a href="/lichsu">4</a>
                <a href="/lichsu">5</a>
                <a href="/lichsu">6</a>
                <a id="last" href="/lichsu">&raquo;</a>
            </div>
        </div>
    </div>